# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual Env =====
.venv/
venv/

# ===== Environment =====
.env

# ===== Flask =====
instance/
*.db

# ===== Uploads (user content) =====
static/uploads/

# ===== OS =====
.DS_Store
Thumbs.db
